<!DOCTYPE html>
<html>

<head>
    <title>TODO!</title>
    <link rel="stylesheet" type="text/css" href="todo.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="todo.js"></script>

<body ng-app="myApp" ng-controller="todoCtrl">


<h1>Welcome to ToDo!</h1>

<br>

<h2>Enter your tasks below to add them to your list</h2>

<form ng-submit="todoAdd()">
    <input type="text" ng-model="todoInput" size="50" placeholder="Add New">
    <input type="submit" value="ADD">
</form>

<br>

<h2>Tasks for today:</h2>

<div ng-repeat="x in todoList">
    <input class="tasks" type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>    
</div>

<p><button class="remove" ng-click="remove()">REMOVE MARKED</button></p>

</body>
</html>